* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f2f2;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #aa875c;
  border-radius: 10px;
  height: 20%;
  width: 80%;
  margin-top: 1%;
  padding: 0.5em;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

/* audio info */
.audio-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.text {
  color: #FFBB00;
}

.title {
  color: #FFBB00;
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
  background-color: rgba(0,0,0,.8);
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #FFBB00; 
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #aa875c;
  color: #FFBB00;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 40%;
}

.controls button, .volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 2em;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.control-button{
  color:#FFBB00;
}

/* time */
.time {
  color: #FFBB00;
  font-size: 1em;
  line-height: 2em;
}

.time.current {
  color: #FFBB00;
}

