@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss";

$track-height: 11rem;

.track {
  padding: 0.5em;

  &__add {
    min-height: $track-height;
    margin-left: 3rem;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($confirm-color, $active-opacity);
    background: linear-gradient(
      90deg,
      rgba($confirm-color, $active-opacity),
      rgba($confirm-color, $active-opacity) 8px,
      rgba($track-color, $inactive-opacity) 0,
      rgba($track-color, $inactive-opacity)
    );

    &:hover {
      color: $confirm-color;
      background-color: rgba($track-color, $active-opacity);
    }

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid darken($white, 5%);
    width: 100%;
    margin-left: 1rem;
  }

  &__card {
    min-height: $track-height;
    margin-left: 3rem;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: $white;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 33%;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 33%;
    }

    &-play {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
    }

    &--create {
      background-color: $dark-background;
      display: flex;
      color: #ffbb00;

      form {
        display: flex;
        flex-direction: column;
      }

      input {
        color: #ffbb00;
      }
    }

    &--show {
      color: rgba($confirm-color, $active-opacity);
      background: linear-gradient(
        90deg,
        rgba($confirm-color, $active-opacity),
        rgba($confirm-color, $active-opacity) 8px,
        rgba($track-color, $inactive-opacity) 0,
        rgba($track-color, $inactive-opacity)
      );

      &:hover {
        color: $confirm-color;
        background-color: rgba($track-color, $active-opacity);
      }
    }

    &--status {
      background-color: $dark-background;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $confirm-color;
    }

    &--confirm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: $track-height;
      margin-left: 3rem;
      border-radius: 0.5rem;
      padding: 1.2rem 1.5rem;
      border: solid 1px $danger-color;
      background-color: $dark-background;
      color: $confirm-color;
    }

    &--error {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: $track-height;
      margin-left: 3rem;
      border-radius: 0.5rem;
      padding: 1.2rem 1.5rem;
      border: solid 1px $error-color;
      background-color: $dark-background;
      color: $confirm-color;
    }
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: flex;
  }

  &__actions {
    margin-top: 1rem;

    &-button {
      @include button-inactive--opacity;
      margin-right: 0.5rem;
      display: none;

      &:hover {
        @include button-active--opacity;
      }

      .fa-pen-to-square:hover {
        color: $confirm-color;
      }

      .fa-trash:hover {
        color: $confirm-color;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__card:hover &__actions-button {
    display: inline;
  }

  &__create-form {
    display: flex;
    flex-direction: column;
  }

  &__create-input {
    background-color: $dark-background;
    border: 0;
    border-bottom: 1px solid;
    color: $confirm-color;
    font-size: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;

    &--field {
      display: flex;
      font-size: 1.5rem;
    }

    &--label {
      display: flex;
      justify-content: flex-start;
      padding-right: 0.5em;
      font-size: 1em;
    }

    &--file {
      border-bottom: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: column;
    }

    &-close {
      @include button-inactive--opacity;

      align-self: flex-start;
      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}