@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss";

$track-height: 11rem;

i {
  padding-left: 0.5rem;

  &.fa-regular {
    padding-top: rem;

  }

  &.fa-sharp {
    padding-bottom: 0.75rem;
    &:hover {
      color: #FFBB00;
    }
  }
 &.fa-solid {
  &:hover {
    color: black;
  }
 }
 &.fa-circle-xmark {
  color: #FFBB00;
  &:hover {
   color: red
  }
  }
 &.fa-circle-check {
  color: #FFBB00;
 &:hover {
  color: green
 }
 }
}

.playlist {
color: rgb(47, 46, 46);
  &__add {
    min-height: $track-height;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid darken($white, 5%);
    width: 100%;
    margin-left: 1rem;
  }

  &__card {
    height: 80px;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: row nowrap;
    color: $white;
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 50%;
      padding-top: 0.5rem;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
        height: 50%;
        width: 25%;
  padding-top:2.25rem;
  padding-right: 20px;
    }

    &--create {
      color: $white;
      display: flex;
      width: 288px;
      background-color: rgb(24, 24, 24);
      border: 2px solid rgb(49, 49, 49);
    }

    &--show {
      color: #FFBB00;
      background: linear-gradient(
        90deg,
        rgba(49, 49, 49, $active-opacity),
        rgba(#aa875c, $inactive-opacity) 8px,
        rgba(#aa875c, $inactive-opacity) 0,
        rgba(gray, $inactive-opacity)
      );
      &:hover {
        @include button-active--opacity;
        color: rgb(49, 49, 49);
        background-color: #FFBB00;
      }
    }

    &--status {
      background-color: $dark-background;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $confirm-color;
    }

    &--confirm {
     color: $danger-color;
     border: 2px solid $danger-color;
      font-size: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      width: 288px;
    }

    &--error {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px $error-color;
      background-color: $dark-background;
      color: $confirm-color;
    }
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: none;
  }

  &__actions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 25%;
    &-modify {
        width: fit-content
    }
    &-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    &-button {
      @include button-inactive--opacity;
      margin-right: 0.5rem;
      display: none;

      &:hover {
        @include button-active--opacity;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__card:hover &__actions-button {
    display: inline;
  }

  &__create-input {
    background-color: rgb(24, 24, 24);
    border: 0;
    border-bottom: 1px solid;
    color: #FFBB00;
    // color: #FFBB00;
    font-size: 1.5rem;
    height: 2rem;
    margin-bottom: 0.25rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: column;
    }

    &-close {
      @include button-inactive--opacity;

      align-self: flex-start;
      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}