@import "styles/mixins.scss";
@import "styles/variables.scss";

i {
  padding-left: 0.5rem;

  &.fa-regular {
    padding-top: rem;

  }

  &.fa-sharp {
    padding-bottom: 0.75rem;
    &:hover {
      color: #FFBB00;
    }
  }
 &.fa-solid {
  &:hover {
    color: black;
  }
 }
 &.fa-circle-xmark {
  &:hover {
   color: red
  }
  }
 &.fa-circle-check {
 &:hover {
  color: green
 }
 }
}


.playlist {

  &__item {
    @include fade;

    color: #8395a7;
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: #ee5253;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      @extend .playlist__item;
      background-color: darken($white, 5%);
      color: $dark-background;

      &--full {
        @extend .playlist__item--selected;
      }

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    &--full {
      @extend .playlist__item;
      opacity: $inactive-opacity;
    }
  }
}