@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss";

$track-height: 11rem;

.playlist {

  &__add {
    min-height: $track-height;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid darken($white, 5%);
    width: 100%;
    margin-left: 1rem;
  }

  &__card {
    height: 80px;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: $white;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 50%;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 15em;
        height: 50%;
        width: 25%;
    }

    &--create {
      background-color: $dark-background;
      display: flex;
    }

    &--show {
      color: rgba($track-color, $active-opacity);
      background: linear-gradient(
        90deg,
        rgba($track-color, $active-opacity),
        rgba($track-color, $active-opacity) 8px,
        rgba($track-color, $inactive-opacity) 0,
        rgba($track-color, $inactive-opacity)
      );

      &:hover {
        color: darken($white, 5%);
        background-color: rgba($track-color, $active-opacity);
      }
    }

    &--status {
      background-color: $dark-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--confirm {
      @include border-card($danger-color);
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 20%;
      width: 100%;
    }

    &--error {
      @include border-card($error-color);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: none;
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 25%;
    &-modify {
        width: fit-content
    }
    &-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    &-button {
      @include button-inactive--opacity;
      margin-right: 0.5rem;
      display: none;

      &:hover {
        @include button-active--opacity;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__card:hover &__actions-button {
    display: inline;
  }

  &__create-input {
    background-color: $dark-background;
    border: 0;
    border-bottom: 1px solid;
    color: $white;
    font-size: 1.5rem;
    height: 2rem;
    margin-bottom: 0.25rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: column;
    }

    &-close {
      @include button-inactive--opacity;

      align-self: flex-start;
      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}