@import "styles/variables.scss";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-background;
  border: 2px solid #FFBB00;
  color:#FFBB00;
  border-radius: 20px;
  padding: 5%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}

.username-label {
  display: flex;
  justify-content: flex-start;
  padding-right: 2%;
  color:#FFBB00
}

.username-field {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
}

.password-label {
  display: flex;
  padding-right: 2%;
  color:#FFBB00
}

.password-field {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

input {
  background-color: $dark-background;
  border: 0;
  border-bottom: 1px solid;
  color: $confirm-color;

  &:focus {
    outline: none;
  }
}