@import "styles/variables.scss";

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.welcome-message {
  color: white;
  font-size: larger;
  padding-bottom: 1em;
}